[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = code practice for learning Python
[access "refs/*"]
	owner = group user/SU JIN (Emily) CHO (sujcho)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SU JIN (Emily) CHO (sujcho)
	label-Verified = -1..+1 group user/SU JIN (Emily) CHO (sujcho)
	push = group user/SU JIN (Emily) CHO (sujcho)
	read = group user/SU JIN (Emily) CHO (sujcho)
	rebase = group user/SU JIN (Emily) CHO (sujcho)
	removeReviewer = group user/SU JIN (Emily) CHO (sujcho)
	submit = group user/SU JIN (Emily) CHO (sujcho)
[access "refs/heads/*"]
	create = group user/SU JIN (Emily) CHO (sujcho)
	push = +force group user/SU JIN (Emily) CHO (sujcho)
	pushMerge = group user/SU JIN (Emily) CHO (sujcho)
	read = group user/SU JIN (Emily) CHO (sujcho)
[access "refs/tags/*"]
	push = group user/SU JIN (Emily) CHO (sujcho)
	push = +force group user/SU JIN (Emily) CHO (sujcho)
