#nav {
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    float:left;
    width:100%;
    position:relative;
    z-index:5;
}
#nav li {
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a {
    display:block;
    padding:5px;
    color:white;
    background:#333;
    text-decoration:none;
}
#nav a:hover {
    color:white;
    background:#3C7EEE;
    text-decoration:underline;
}

/* Dropdown menu */

#nav ul {
    background:white; /* fixes IE7+  */
    background:rgba(255,255,255,0);
    list-style:none;
    position:absolute;
    left:-9999px;
    overflow: hidden;

}
#nav ul li {
    padding-top:1px;
    float:none;
}
#nav ul a {
    white-space:nowrap;
}
#nav li:hover ul {
    left:-39px;
}
#nav li:hover a {
    background:#3C7EEE;
    text-decoration:underline;
}
#nav li:hover ul a {
    text-decoration:none;
}
#nav li:hover ul li a:hover {
    backgrond:white;
}