@font-face {
    font-family: 'armwrestlerbold';
    src: url('fonts/armwrestler-webfont.woff2') format('woff2'),
         url('fonts/armwrestler-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'advent_proregular';
    src: url('fonts/adventpro-regular-webfont.woff2') format('woff2'),
         url('fonts/adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Main Styles begin here */
body {
background: rgb(30, 50, 230);
background: -moz-linear-gradient(90deg, rgb(30, 50, 230) 17%, rgb(90, 140, 250) 70%);
background: -webkit-linear-gradient(90deg, rgb(30, 50, 230) 17%, rgb(90, 140, 250) 70%);
background: -o-linear-gradient(90deg, rgb(30, 50, 230) 17%, rgb(90, 140, 250) 70%);
background: -ms-linear-gradient(90deg, rgb(30, 50, 230) 17%, rgb(90, 140, 250) 70%);
background: linear-gradient(180deg, rgb(30, 50, 230) 17%, rgb(90, 140, 250) 70%);

}
#wrapper {
	width:780px;
	margin:0 auto;
	border:3px solid #000;
	background:#fff;
	padding:25px;
	border-radius:50px;
	-webkit-border-radius:50px; /* Safari-Chrome */
	-moz-border-radius:50px;    /* firefox */
	box-shadow:10px 10px 5px #ccc; /* hor, ver, blur, color */
}
img {
	-webkit-border-top-left-radius: 160px;
	-webkit-border-bottom-right-radius: 160px;
	-moz-border-radius-topleft: 160px;
	-moz-border-radius-bottomright: 160px;
	border-top-left-radius: 160px;
	border-bottom-right-radius: 160px;
	box-shadow:10px 10px 15px #ccc;
}
h1 {
	font-family:'armwrestlerbold', "Arial Black", sans-serif;
	text-shadow: 1px 1px 2px #637cbc;
}
p {
	font-family: 'Muli', sans-serif;
}
blockquote {
 	font-family: 'Courgette', cursive;
 	font-size:1.3em;
}

